<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ApplyDao">

	<select id="findAll" resultType="com.entity.Apply">
		select *	from apply where applyProductId=#{applyProductId}
	</select>

<!-- 	<select id="findAllProduct" resultType="com.p2p.vo.ProductVo"> -->
<!-- 		select -->
<!-- 		p.productid,p.productname,c.companyname, -->
<!-- 		ptype.producttypename, -->
<!-- 		lend.period,p.primelendingratefrom, -->
<!-- 		p.primelendingrateto,p.financingamountfrom, -->
<!-- 		p.financingamountto,lend.status lendingStatus, -->
<!-- 		ptype.status typeStatus -->
<!-- 		from product p -->
<!-- 		left join company c on p.companyid=c.companyid -->
<!-- 		left join -->
<!-- 		lendingperiod lend on p.lendingperiodid=lend.lendingperiodid -->
<!-- 		left join -->
<!-- 		producttype ptype on p.producttypeid=ptype.producttypeid -->
<!-- 	</select> -->

	<!-- 插入申请 -->
<!-- 	<insert id="insertApply" parameterType="com.p2p.entity.Apply"> -->
<!-- 		insert into apply -->
<!-- 		values -->
<!-- 		(apply_id.nextval,#{applyperson},#{applypersonidcard}, -->
<!-- 		#{applynum},sysdate,#{applyproductname},#{applyproductid}) -->
<!-- </insert> -->
</mapper>